.header-container {
  display: flex;
  align-items: center;
  height: 60px;
  @media screen and (max-width: 480px) {
    padding: 16px 23px 16px 15px;
  }
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
    padding-top: 32px;
    height: 80px;
  }
}

.logo {
  font-family: raleway;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
}
.logo--right-margin {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}

.logo-text {
  color: #2196f3;
}
.header-menu {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.menu--hidden {
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu__list-medium {
  @media screen and (max-width: 766px) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    display: flex;
  }
}
.header__contact-list {
  @media screen and (max-width: 766px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
